.resource {
  display: flex !important;
  flex-direction: column;
  color: var(--ifm-question-title-color);

  a {
    color: var(--gold-11);
    text-decoration: none;
  }
}

.card {
  flex-grow: 1;
  justify-content: center;
  background-color: inherit;
  border: 1px solid var(--gold-8);
  border-radius: var(--ifm-pagination-nav-border-radius);
  transition: all 0.3s ease;
  margin-bottom: 2rem;

  .card__icon {
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: var(--slate-2);
    border: 1px solid var(--gold-9);

    .card__icon {
      filter: saturate(2);
    }
  }
}

.descriptionText {
  color: var(--ifm-font-color-base);
}
