.question {
  margin-bottom: 3rem;

  padding: 1rem;
  border: 1px solid var(--ifm-question-border-color);
  border-radius: var(--ifm-pagination-nav-border-radius);
  transition: all 0.3s ease;
  min-height: 170px;

  .title {
    color: var(--ifm-question-title-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}

.question:hover {
  border: 1px solid var(--ifm-question-border-hover-color);
  transition: all 0.3s ease-in-out;
}

.questionLink {
  display: block;
  text-decoration: none;
  color: inherit;
  border: none;
}

.questionLink:hover,
.questionLink:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:global(.question-icon) {
  font-size: 18px;
}
