/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  
  --ifm-font-family-base: "Inter";
  --ifm-line-height-base: 1.5;
  --ifm-font-size-base: 110%;
  --ifm-list-paragraph-margin: 0.5rem;
  --ifm-paragraph-margin-bottom: 0.25rem;

  --slate-1: #fcfcfd;
  --slate-2: #f9f9fb;
  --slate-3: #f0f0f3;
  --slate-4: #e8e8ec;
  --slate-5: #e0e1e6;
  --slate-6: #d9d9e0;
  --slate-7: #cdced6;
  --slate-8: #b9bbc6;
  --slate-9: #8b8d98;
  --slate-10: #80838d;
  --slate-11: #60646c;
  --slate-11-half: #3a3c42;
  --slate-12: #1c2024;

  --blue-1: #fbfdff;
  --blue-2: #f4faff;
  --blue-3: #e6f4fe;
  --blue-4: #d5efff;
  --blue-5: #c2e5ff;
  --blue-6: #acd8fc;
  --blue-7: #8ec8f6;
  --blue-8: #5eb1ef;
  --blue-9: #0090ff;
  --blue-10: #0588f0;
  --blue-11: #0569c0;
  --blue-12: #113264;

  --gold-1: #fdfdfc;
  --gold-2: #faf9f2;
  --gold-3: #f2f0e7;
  --gold-4: #eae6db;
  --gold-5: #e1dccf;
  --gold-6: #d8d0bf;
  --gold-7: #cbc0aa;
  --gold-8: #b9a88d;
  --gold-9: #978365;
  --gold-10: #8c7a5e;
  --gold-11: #71624b;
  --gold-12: #3b352b;

  --ifm-color-primary: var(--blue-11);
  --ifm-color-primary-dark: var(--blue-7);
  --ifm-color-primary-darker: var(--blue-6);
  --ifm-color-primary-darkest: var(--blue-5);

  --ifm-color-primary-light: var(--sky-7);
  --ifm-color-primary-lighter: var(--sky-8);
  --ifm-color-primary-lightest: var(--sky-9);

  --ifm-background-color: var(--slate-2);
  --ifm-background-surface-color: var(--slate-3);

  --ifm-menu-color: black;
  --ifm-blockquote-color: var(--slate-10);
  --ifm-font-color-base: black;

  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  --ifm-navbar-search-input-background-color: var(--slate-2);
  --ifm-navbar-search-input-color: var(--slate-12);
  --ifm-navbar-search-input-placeholder-color: var(--slate-11);

  --front-pic-shadow-color: rgb(0 0 0 / 50%);
}

:root[data-theme="dark"] {
  --slate-1: #111113;
  --slate-2: #18191b;
  --slate-3: #212225;
  --slate-4: #272a2d;
  --slate-5: #2e3135;
  --slate-6: #363a3f;
  --slate-7: #43484e;
  --slate-8: #5a6169;
  --slate-9: #696e77;
  --slate-10: #777b84;
  --slate-11: #afb3ba;
  --slate-11-half: #cbcdd1;
  --slate-12: #edeef0;

  --blue-1: #0d1520;
  --blue-2: #111927;
  --blue-3: #0d2847;
  --blue-4: #003362;
  --blue-5: #004074;
  --blue-6: #104d87;
  --blue-7: #205d9e;
  --blue-8: #2870bd;
  --blue-9: #0090ff;
  --blue-10: #59a9f8;
  --blue-11: #70b8ff;
  --blue-12: #c2e6ff;

  --gold-1: #121211;
  --gold-2: #1b1a17;
  --gold-3: #24231f;
  --gold-4: #2d2b26;
  --gold-5: #38352e;
  --gold-6: #444039;
  --gold-7: #544f46;
  --gold-8: #696256;
  --gold-9: #978365;
  --gold-10: #a39073;
  --gold-11: #cbb99f;
  --gold-12: #e8e2d9;

  --ifm-menu-color: white;
  --ifm-blockquote-color: var(--slate-9);
  --ifm-font-color-base: white;
  --ifm-color-primary: var(--blue-10);
  --ifm-table-border-color: var(--slate-7);

  --front-pic-shadow-color: rgb(39 42 45 / 50%);
}

hr {
  background-color: var(--slate-7);
}

details > div > div[class*="collapsibleContent"] {
  border-top-color: var(--slate-7);
}

li[class*="theme-doc-sidebar-item-category-level"] > div > a {
  border-bottom: 1px solid var(--slate-4);
}

.theme-doc-sidebar-item-link-level-2 > a.menu__link:not(.menu__link--active) {
  color: var(--slate-11-half);
}

.theme-doc-sidebar-item-link-level-3 > a.menu__link:not(.menu__link--active) {
  color: var(--slate-11);
}

li[class*="theme-doc-sidebar-item-category-level"]
  a.menu__link:hover:not(.menu__link--active) {
  color: var(--slate-12);
}

.markdown > h1 {
  --ifm-h1-font-size: 2rem !important;
}

.markdown > h2 {
  --ifm-h2-font-size: 1.65rem !important;
}

.markdown > h2 {
  --ifm-h3-font-size: 1.35rem !important;
}

.button {
  box-shadow: 0px 1px 10px 2px rgba(9, 30, 66, 0.25) !important;
}

:where(.button--primary) {
  --ifm-button-color: white;
  --ifm-button-border-color: #0569c0;
  --ifm-button-background-color: #1b85d7;
}

:where(.button--primary):not(.button--outline):hover {
  --ifm-button-background-color: #49a3e9;
}

:where(.button--secondary) {
  --ifm-button-border-color: #b9bbc6;
  --ifm-button-background-color: #efefef;
}

:where(.button--secondary):not(.button--outline):hover {
  --ifm-button-background-color: #dbdbdb;
}

.alert {
  --ifm-alert-foreground-color: var(--ifm-font-color-base);
  --ifm-code-background: rgb(191 187 185 / 15%);
}

.front-page-pic {
  border: 2px solid var(--slate-6);
  border-radius: 12px;
  box-shadow: var(--front-pic-shadow-color) 0px 4px 40px;
}

.navbar__search-input {
  border: 1px solid var(--slate-6);
}

.navbar__search-input:focus {
  outline: 2px solid var(--blue-10);
}

.table-of-contents {
  font-size: 0.9rem;
}

pre {
  background-color: var(--slate-3);
}

pre > code {
  border: 1px solid var(--slate-9);
}

div.theme-code-block pre > code {
  border: none;
}

div.theme-code-block {
  border: 1px solid var(--slate-9);
  margin-top: 22px;
}

/* select only divs which have len(elems) == 2 */
div.theme-code-block > div:first-child:nth-last-child(n + 2) {
  background-color: var(--slate-4);
  border-bottom: 1px solid var(--slate-9);
}

.navbar__link,
.navbar__link:hover {
  /*  text-decoration: underline; */
  text-decoration-color: var(--slate-5);
  text-underline-offset: 3px;
  /*padding-bottom: 0;*/
}

.navbar__link:hover {
  text-decoration-thickness: 2px;
}

.navbar__link--active,
.navbar__link--active:hover {
  text-decoration-color: var(--blue-10);
  text-decoration-thickness: 2px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.header-github-link .header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme="dark"] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-discord-link .header-discord-link:hover {
  opacity: 0.6;
}

.header-discord-link::before {
  content: "";
  margin-top: 6px;
  margin-right: -6px;
  width: 24px;
  height: 24px;
  display: flex;
  background: url("/static/logos/discord.svg") no-repeat;
}

[data-theme="dark"] .header-discord-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("/static/logos/discord-white.svg") no-repeat;
}

.navbar__logo {
  height: 2.5rem;
  margin-left: 8px;
}

.navbar__title {
  font-size: 16px;
  font-weight: 700;
  margin-left: 4px;
}

header.hero {
  padding: 2rem 0 4rem 0;
  background-color: unset;
}

.hero__title {
  margin: 0;
}

.hero-grid-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: "center";
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  text-align: center;
}

@media (max-width: 380px) {
  .hero-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (min-width: 500px) {
  .hero-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

.hero-icon-container {
  display: inline-flex;
  align-items: center;
}

.hero-icon-container h4 {
  margin: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 1.1rem;
  white-space: nowrap;
}

.button {
  box-shadow: 0px 1px 0px 0px rgba(9, 30, 66, 0.25);
}

.footer {
  border-top: 1px solid var(--slate-5);
}

.pagination-nav__link {
  background-color: var(--slate-4);
  border-color: var(--slate-9);
}

ul {
  list-style-type: square;
}

.badge {
  margin-bottom: 8px;
}

main[itemscope] > article > header > div:has(div.avatar) {
  display: none;
}

.avatar {
  display: none;
}
